html,body {
    margin: 0;
}

.logo-button-header {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.heading {
    font-family: 'Montez', cursive;
    font-size: 2em;
    margin: 0;
    color: blue;
    text-decoration: none;
}

.subheading {
    font-family: 'Ubuntu+Mono', monospace;
    font-size: 1em;
    margin: 0;
    font-weight: lighter;
}

.buttons {
    outline: none;
    margin: 0;
    margin-left: 0.5em;
    padding: 0.5em 1em;
    border-radius: 0;
    border: none;
    box-shadow: 1px 1px grey;
    background-color: blue;
    color: white;
}

.buttons:active {
    transform: translateY(2px);
}

