/*Generalising height and margin*/
html, body {
    height: 100%;
    margin: 0;
}

/*Setting post container width*/
.post-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin: auto;
    padding-bottom: 3%;
}

#post-title p {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0;
}

/*Post author, edit and save button styling*/
.author-btn-edit-save {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.author-btn-edit-save span {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.3em;
    font-stretch: expanded;
    font-weight: 700;
    opacity: 0.8;
    padding-top: 1em;
}

.author-btn-edit-save button, .btn-like, .btn-cmt {
    background-color: #fa3275;
    box-shadow: 0 5px 8px 0 #fa3275;
    color: white;
}

/*Styling for post content*/
.post-content {
    margin-top: 1.5%;
    text-align: justify;
}

.btn-save {
    display: none;
}

.like button, .comment-container .btn-cmt {
    margin-left: 0;
}

.like-first, .liked, #comment {
    margin-top: 1%;
    font-family: 'Inconsolata', monospace;;
    opacity: 0.6;
}

.liked {
    display: none;
}

/*Comment container*/
#comment {
    display: block;
    width: 70%;
    height: 5em;
    margin-bottom: 1%;
}

.btn-cmt {
    margin-bottom: 2%;
}

.cmt-header {
    font-size: 1.2em;
}

.comment-section {
    display: none;
    background-color: rgb(230, 228, 228);
    width: 70%;
    padding: 1.5em 0.5em 0.5em 0.5em;
}

.ind-comment {
    background-color: white;
    padding: 1.5% 1%;
}
