/*Generalising height and margin*/
html, body {
    height: 100%;
    margin: 0;
}

/*background for the whole page*/
body {
    background-color: #ffeedd;
}

/* Post container as flex*/
.posts-container {
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

/*styling for posts*/
.posts {
    margin: 1%;
    width: 37%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

.posts:hover {
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.2);
}

.post-owner {
    padding: 10px;
    margin: auto;
    font-weight: bold;
    line-height: 1.2em;
    opacity: 0.7;
    text-align: center;
}

.post-body {
    background-color: #f2f2f2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 20px 0 15px;

}

.post-heading-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-heading, .post-content {
    margin: 0;
}

.post-heading-wrapper, .post-content {
    margin-bottom: 10px;
}

.post-heading {
    font-size: large;
    font-weight: bold;
} 

.post-content {
    line-height: 1em;
    -webkit-line-clamp: 3;
    height: 3em;
    overflow: hidden;
}

.post-body span {
    display: block;
    width: inherit;
    text-align: right;
    margin-bottom: 10px;
}

.post-heading, .fa-trash, .fa-ellipsis-h {
    opacity: 0.4;
}

.fa-trash, .fa-ellipsis-h:hover {
    cursor: pointer;
}

a, a:hover {
    color: black;
}

/* Styling for Delete modal*/
.modal-content {
    width: unset;
    padding: 1.5em;
}

.modal-dialog-centered {
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-yes, .btn-no {
    margin-left: 0;
    width: 20%;
}